html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  width: 100%;
  height: 100%;
}

.search-box {
  position: absolute;
  left: 10%;
  top: 24px;
  background: #fff;
  padding: 24px;
  border: solid 1px #000;
  border-radius: 4px;
}
